.calcCont {
  float: right;
  text-align: right;
}
.calcRow span {
  display: inline-block;
}
.wXSmall {
  width: 50px;
}
.wSmall {
  width: 100px;
}
.wMedium {
  width: 120px;
}
.wLarge {
  width: 150px;
}
.calcRow {
  background-color: #f2f5ff;
  padding: 5px 35px;
  margin: 5px 10px;
  border-radius: 32px;
}
.calcRow.even {
  background-color: #f5f5f5;
}
