.calcCont {
  float: right;
  text-align: right;
}
.calcRow span {
  display: inline-block;
}
.wXSmall {
  width: 50px;
}
.wSmall {
  width: 100px;
}
.wMedium {
  width: 120px;
}
.wLarge {
  width: 150px;
}
.calcRow {
  background-color: #f0fbfc;
  padding: 5px 35px;
  margin: 5px 10px;
  border-radius: 32px;
}
.calcRow.even {
  background-color: #fff;
}
.dayIndex {
  background-color: #9fe5ea;
  color: #fff;
  font-weight: 800;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 35px;
}
.navbar {
  text-align: center;
  margin: 16px;
}
.navbar button {
  outline: none;
}
.calcHeader {
  background-color: #37c2d0;
  color: #fff;
}
.calcHeader .dayIndex {
  background-color: transparent;
}
.naborDay {
  background-color: #ff9534;
  color: #fff;
  width: 40px;
  text-align: center;
  border-radius: 30px;
}
.panjiDay {
  background-color: #61c15b;
  color: #fff;
  width: 44px;
  text-align: center;
  border-radius: 30px;
}
