.calcCont {
  float: right;
  text-align: right;
  width: 100%;
}
.calcRow span {
  display: inline-block;
}
.calcRow {
  background-color: #f0fbfc;
  padding: 5px 35px;
  margin: 5px 10px;
  border-radius: 32px;
}
.calcRow.even {
  background-color: #fff;
}
.dayIndex {
  width: 5%;
}
.dayName {
  width: 10%;
}
.weekName {
  width: 10%;
}
.solarDay {
  width: 15%;
}
.mildadiDay {
  width: 15%;
}
.eventDetails {
  width: 37%;
}
.bold {
  font-weight: 900;
  font-size: 1.1em;
}
.solarDayName {
  display: inline-block;
  font-size: 1.4em;
  margin-left: 9px;
  font-weight: 900;
  background-color: #9fe4ea;
  color: #fff;
  border-radius: 100%;
  width: 43px;
  text-align: center;
  height: 43px;
  line-height: 43px;
}
.navbar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.navbar button {
  outline: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 1px;
  font-size: 39px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}
.calcHeader {
  background-color: #37c2d0;
  color: #fff;
}
.calcHeader .dayIndex {
  background-color: transparent;
}
.naborDay {
  background-color: #ff9534;
  color: #fff;
  width: 40px;
  text-align: center;
  border-radius: 30px;
}
.panjiDay {
  background-color: #61c15b;
  color: #fff;
  width: 44px;
  text-align: center;
  border-radius: 30px;
}
.event {
  border: 1px solid #37c2d0;
  border-radius: 30px;
  padding: 0 1em;
  margin: 0 10px;
  color: #000;
}
.zMonthlyHoliday {
  border: 1px solid #4caf50;
}
.holiday {
  color: #e91e63;
}
.holiday .solarDayName {
  background-color: #ea7d7d;
}
.zHoliday {
  background-color: #ea7d7d;
  color: #fff;
  border: none;
}
.monthName {
  text-align: center;
  font-size: 2em;
  display: block;
  width: 100px;
  margin: auto;
  border-bottom: 3px solid #37c2d0;
  padding: 0;
  line-height: 53px;
  margin-bottom: 10px;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
